<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Front page{% endblock %}
{% block page %}Front page{% endblock %}
{% block content %}
<div class="container">
    <form class="col py-4" action="/result">
        <div class="row">
            <div class="col">
                <input type="search" class="form-control" name="query" placeholder="Search...">
            </div>
            <select class="form-select" aria-label="Default select example" name="sort_by">
                <option value="newest">Newest</option>
                <option value="oldest">Oldest</option>
            </select>
            <input type="hidden" name="item_type" value="discussion">
        </div>
        <br>
    </form>

    {% if discussions %}
    <div class="container">
        {% for discussion in discussions %}
        <div>
            <p>
            <small>
            <a href="{{ url_for('sub', id=discussion.subforum_id) }}">/sub/{{ discussion.subforum_id }}</a> &#x2022 <a href="{{ url_for('profile', id=discussion.user_id) }}">{{ discussion.username }}</a> posted {{ get_time_ago(discussion.created_at)}}
            </small>
            </p>
        </div>
        <div>
            <h5><a href="{{ url_for('discussion', sub_id=discussion.subforum_id, disc_id=discussion.id) }}">{{ discussion.title }}</a></h5>
        </div>
        <small>
            {{ discussion.content }}
        </small>
        <hr>
        {% endfor %}
    </div>
    {% else %}
    No subforums
    {% endif %}
</div>
{% endblock %}