{% extends "sub_layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<p>
    <b>{{ title }}</b>
</p>
Started: <a href="/profile/{{ user_id }}">{{ get_user_by_id(user_id).username }}</a>
<p>
    {{ content }}
</p>
<hr>
<a href="/sub/{{ sub_id }}/discussion/{{ id }}/new_comment">Add comment</a>
<hr>
{% if comments %}
{% for comment in comments %}
<small>
    {% if user_id == comment.user_id %}<b>OP</b>{% endif %} <a href="/profile/{{ comment.user_id }}">{{ get_user_by_id(comment.user_id).username }}</a> &#x2022 {{ get_time_ago(comment.created_at)}}
</small>
<br>
{{ comment.content }}
<hr>
{% endfor %}
{% else %}
No comments
{% endif %}
{% endblock %}