<!DOCTYPE html>
<head>
    <title>Forums - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        {{ message }}
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</head>

<body>
    <main>
        <header>
            <div class="py-2 bg-dark text-white">
                <div class="container">
                    <div class="row">
                        <h2 class="col"><a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">Forums</a></h2>
                        {% if session.user %}
                        <div>
                            Logged in as <a href="{{ url_for('profile', id=session.user[1]) }}">{{ session.user[0] }}</a>
                            <a href="/logout"><button class="btn btn-outline-primary me-2" type="button">Logout</button></a>
                        </div>
                        {% else %}
                        <div>
                            <a href="/login"><button type="button" class="btn btn-light text-dark me-2">Login</button></a>
                            <a href="/register"><button type="button" class="btn btn-primary">Register</button></a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="py-3 border-bottom mb-2">
                <div class="container d-flex flex-wrap justify-content-center">
                    <ul class="nav col-12 col-md-auto mb-2 mb-md-0">
                        <li><a href="/" class="nav-link px-2 link-secondary">Home</a></li>
                        <li><a href="{{ url_for('explore_subforums') }}" class="nav-link px-2 link-secondary">Subforums</a></li>
                        <li><a href="{{ url_for('explore_discussions') }}" class="nav-link px-2 link-dark">Discussions</a></li>
                        <li><a href="{{ url_for('explore_users') }}" class="nav-link px-2 link-dark">Users</a></li>
                    </ul>
                </div>
              </div>
        </header>
        {% block content %}{% endblock %}
    </main>
</body>
