{% extends "profile_layout.html" %}
{% block profile_title %}Overview{% endblock%}

{% block profile_content %}
{% if activity %}
<div class="container">
    {% for item in activity %}
    {% if item.item_type == sub_type %}
    <div>
        <p>
        <a href="/profile/{{ user.id }}">{{ user.username }}</a> created {{ get_time_ago(item.created_at)}}
        </p>
    </div>
    <div>
        <h5>/sub/{{ item.id }} <a href="/sub/{{ item.subforum_id }}/discussion/{{ item.id }}">{{ item.title }}</a></h5>
    </div>
    <hr>

    {% elif item.item_type == disc_type %}
    <div>
        <p>
        <small>
        <a href="/sub/{{ item.subforum_id }}">/sub/{{ item.subforum_id }}</a> &#x2022 <a href="/profile/{{ user.id }}">{{ user.username }}</a> posted {{ get_time_ago(item.created_at)}}
        </small>
        </p>
    </div>
    <div>
        <h5><a href="/sub/{{ item.subforum_id }}/discussion/{{ item.id }}">{{ item.title }}</a></h5>
    </div>
    <small>
        {{ item.content }}
    </small>
    <hr>

    {% elif item.item_type == comt_type %}
    <div>
        <small>
        <a href="/sub/{{ item.discussion_id }}">/sub/{{ item.discussion_id }}</a> &#x2022 <a href="/profile/{{ user.id }}">{{ user.username }}</a> commented {{ get_time_ago(item.created_at)}}
        </small>
    </div>
    <small>
        {{ item.content }}
    </small>
    <hr>
    {% endif %}
    {% endfor %}
</div>

{% else %}
<div class="d-flex flex-wrap align-items-center justify-content-center" style="height: 400px;">
    <b>No activity</b>
</div>
{% endif %}

{% endblock %}