<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Forums - {% block title %}{% endblock %}</title>
<div class="container">
    <h2>Forums - {% block page %}{% endblock %}</h2>
    <div class="row">
        <div class="col-sm">
            <a href="/">Front page</a>
        </div>
        <div class="col-sm">
            {% if session.user %}
            You have logged in as {{ session.user[0] }} |
            <a href="/logout">Log out</a>
            {% else %}
            {% block login %}{% endblock %}
            {% endif %} 
        </div>
    </div>
    <hr>
    {% block content %}{% endblock %}
    <hr>
</div>