{% extends "subforum.html" %}
{% block sub_content %}
{% if discussions %}
{% for discussion in discussions %}
<div class="container">
    <div>
        <p>
        <small>
        <a href="{{ url_for('profile', id=discussion.user_id) }}">{{ get_user_by_id(discussion.user_id).username }}</a> &#x2022 {{ get_time_ago(discussion.created_at)}}
        </small>
        </p>
    </div>
    <h5><a href="{{ url_for('discussion', sub_id=sub.id, disc_id=discussion.id) }}">{{ discussion.title }}</a></h5>
    <div>
        <small>
            {{ discussion.content }}
        </small>
    </div>
    <hr>
</div>
{% endfor %}
{% else %}
<div class="d-flex flex-wrap align-items-center justify-content-center" style="height: 400px;">
    <b>No discussions</b>
</div>
{% endif %}
{% endblock %}