{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block login %}<a href="/login">Log in</a>{% endblock %}
{% block content %}
<div class="container">
    Admin: <a href="{{ url_for('profile', id=sub.user_id) }}">{{ sub_admin }}</a> 
    <br>
    Created: {{ get_time_ago(sub.created_at) }}
    <p>
        Followers: {{ followers }}
        <br>
        Discussions: {{ list_len(discussions) }}
    </p>
    <p>
        <h2>{{ sub.title }}</h2>
    </p>
    <p>
        {{ sub.content }}
    </p>
    <div>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center">
            <li>
                <a class="nav-link px-2 link-secondary" href="{{ url_for('new_discussion', id=sub.id) }}">Create discussion</a>
            </li>
            {% set session_user_id = get_session_user_id() %}
            {% set is_admin = get_is_admin(session_user_id) %}
            {% if sub.user_id == get_session_user_id() or is_admin %}
            <li>
                <a class="nav-link px-2 link-dark" href="{{ url_for('sub_manage', id=sub.id) }}">Manage</a>
            </li> 
            {% endif %}
            {% if sub.user_id != get_session_user_id() %}
            {% if does_user_follow_sub(sub.id, get_session_user_id(), 0)  %}
            <li>
                <a class="nav-link px-2 link-dark" href="{{ url_for('sub_unfollow', id=sub.id) }}">Unfollow</a>
            </li>
            {% else %}
            <li>
                <a class="nav-link px-2 link-dark" href="{{ url_for('sub_follow', id=sub.id) }}">Follow</a>
            </li>
            {% endif %}
            {% endif %}
        </ul>
    </div>

    <hr>
    {% block sub_content %}{% endblock %}
</div>
{% endblock %}