{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<h2>{{ title }}</h2>
<p>
Moderator: {{ sub_username }}
<p>
<hr>
{{ content }}
<hr>
<a href="/sub/{{ id }}/new_discussion">Create new discussion</a> | 
{% if follows %}
<a href="/unfollow/{{ id }}">Unfollow</a>
{% else %}
<a href="/follow/{{ id }}">Follow</a>
{% endif %}
{% for discussion in discussions %}
<hr>
<a href="/sub/{{ id }}/discussion/{{ discussion.id }}">{{ discussion.title }}</a>
<p>
Started: {{ disc_username }}
<p>
Created at: {{ discussion.created_at }}
{% endfor %}
{% endblock %}